
.my-tag {
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 2px;
  width: fit-content;
  height: 31px;
  background-color: #76819c10;
}